<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mail Trash</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.HouseDoorFill" Size="IconSize.x2" Color="IconColor.White" />&nbsp;&nbsp;<h4>Home</h4>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="campaigns">
                <Icon Name="IconName.Mailbox2" Size="IconSize.x2" Color="IconColor.White" />&nbsp;&nbsp;<h4>Campaigns</h4>
            </NavLink>
        </div>
    </nav>
</div>
