@page "/"

<p>
    <h1>Welcome to Mail Trash!</h1>
</p>

<Image src="mailTrashIcon.png" alt="Logo" style="width: 200px" />

<div class="row">
    <div class="col-md-4">
        <h4>
            Ever wanted to send emails to a list of recipients straight to the spam folder?
        </h4>
        <p>
            You've come to the right place!
            This is a simple email client that allows you to manage your emails and campaigns. You can create, edit, and delete campaigns, as well as assign emails to them.
        </p>
        <p>
            This tool was designed as a proof of concept for a job interview, and is not intended for production use. However, it can be a useful tool for testing and experimentation.
            To get started, click on the <a href="campaigns">Campaigns</a>. From there, you can create a new campaign or view existing ones.
        </p>

        <p>
            If you have any questions or feedback, please feel free to reach out. Thank you for using Mail Trash!
        </p>
    </div>
</div>